version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT_HOST}:${POSTGRES_PORT}"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build:
      context: ..
      dockerfile: devops/Dockerfile
    container_name: django
    restart: always
    env_file:
      - .env
    command: >
      sh -c "python manage.py makemigrations &&
                   python manage.py migrate &&
                   python manage.py init_db_values &&
                   python manage.py collectstatic --noinput &&
                   gunicorn AnyaProject.wsgi:application --bind 0.0.0.0:8000" &&
    volumes:
      - static_volume:/app/static
    depends_on:
      - postgres
    expose:
      - 8000

  frontend:
    build:
      context: ../frontend
    container_name: frontend
    restart: always
    expose:
      - 80

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - static_volume:/app/static
    depends_on:
      - web
      - frontend

volumes:
  postgres_data:
  static_volume:
